// Brand Colors
$brand-primary-alt: #054866;
$brand-secondary: #770000;

// Buttons
.btn{
    &-primary-alt{
        background-color: $brand-primary-alt;
        color: #fff;
        &:hover{
            background-color: lighten($brand-primary-alt, 5%);
            color: #fff;
        }
    }
    &-secondary{
        background-color: $brand-secondary;
        color: #fff;
        &:hover{
            background-color: lighten($brand-secondary, 5%);
            color: #fff;
        }
    }
}

// Borders
.border {
    $border-radius: 6px;
    $property: border;
    #{$property}: $brand-secondary solid 1px;
    &-top{
        #{$property}-top: $brand-secondary solid 1px;
        &-light {
            #{$property}-top: $brand-secondary solid 1px;
            &er{
                #{$property}-top: $brand-secondary solid 1px;
            }
        }
    }
    &-bottom{
        #{$property}-bottom: $brand-secondary solid 1px;
        &-light{
            #{$property}-bottom: $brand-secondary solid 1px;
            &er{
                #{$property}-bottom: $brand-secondary solid 1px;
            }
        }
    }
    &-left{
        #{$property}-left: $brand-secondary solid 1px;
        &-light{
            #{$property}-left: $brand-secondary solid 1px;
            &er{
                #{$property}-left: $brand-secondary solid 1px;
            }
        }
    }
    &-right{
        #{$property}-right: $brand-secondary solid 1px;
        &-light{
            #{$property}-right: $brand-secondary solid 1px;
            &er{
                #{$property}-right: $brand-secondary solid 1px;
            }
        }
    }

    &-light {
        #{$property}: $brand-secondary solid 1px;
        &er{
            #{$property}: $brand-secondary solid 1px;
        }
    }
    &-white{
        border-color: #fff;
    }
    &-radius {
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
    }
    &-2px {
        #{$property}-width: 2px;
    }
    &-3px {
        #{$property}-width: 3px;
    }
    &-5px {
        #{$property}-width: 5px;
    }
}

// Background Colors
.bg{
    &-white{
        background-color: #fff;
    }
    &-grey{
        background-color: darken(#fff, 10%);
        &-light{
            background-color: darken(#fff, 5%);
        }
    }
    &-none{
        background: none !important;
        border: none !important;
    }
    &-primary-alt{
        background-color: $brand-primary-alt;
        color: #fff;
    }
    &-secondary{
        background-color: $brand-secondary;
        color: #fff;
    }
    &-img-01{
        background: $brand-primary-alt url("../img/jumbo-img-01-wide.png") 0 50% no-repeat;
        background-size: cover;
        color: #fff;
    }
    &-footer{
        opacity: .3;
    }
}