// Main StyleSheet
@import 'spacing';
@import 'colors';

// Text
body{
    font-family: 'Open Sans', sans-serif;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
p{
    font-size: 1.2em;
}
.text-bold{
    font-weight: 700;
}
.text-italic{
    font-style: italic;
}
.strong{
    font-weight: 700;
}
// Navigation
.header{
    ul.navigation-links{
        margin: 0;
        padding: 0;
        & li{
            &:last-child{
                margin-right: 0;
            }
            margin: 0 2.5px;
            & a {
                text-decoration: none;
                color: $brand-primary-alt;
                font-size: 16px;
                z-index: 100;
                padding: 7px 10px 10px 10px;
                margin-bottom: -1px;
                display: inline-block;
                border: transparent solid 1px;
            }
            &.active a{
                font-weight: 700;
                background: #fff;
                border-top: $brand-secondary solid 1px;
                border-left: $brand-secondary solid 1px;
                border-right: $brand-secondary solid 1px;
            }
            & a:hover{
                background: #fff;
                border-top: $brand-secondary solid 1px;
                border-left: $brand-secondary solid 1px;
                border-right: $brand-secondary solid 1px;
            }
        }
    }
}

.sub-heading{
    border: $brand-secondary solid 1px;
    padding: 10px;
    margin: -15px 0 15px 0;
    display: inline-block;
    background: #fff;
    font-weight: 700;
}
.position{
    &-absolute{
        position: absolute;
    }
}

.list-padding-bottom{
    & li {
        padding-bottom: $spacing-xs;
        & a:hover{
            text-decoration: underline;
        }
    }
}

.team{
    width: 100%;
    position: relative;
    &-col{
        opacity: 0.6;
        width: 20%;
        position: relative;
        float: left;
        padding: $spacing-md;
        border: transparent solid 1px;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
        &.active {
            opacity: 1;
            background: #eee;
            border: $brand-secondary solid 1px;
        }
    }
}
.nav-pills>li.active {
    &>a, &>a:focus, &>a:hover{
        background: $brand-primary-alt;
    }
}